<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<base th:href="@{/}">

<div th:replace="static/common/common_header :: common_header"/>
<link rel="stylesheet" href="/static/js/thirdlib/4.11/esri/themes/light/main.css" />
<script src="/static/js/thirdlib/4.11/init.js"></script>
<script th:src="${urls.getForLookupPath('/static/js/tools/common.js')}"></script>
<body>
<script src="/static/js/jquery.js"></script>


<script th:inline="javascript"  >
    var gloablConfig = {
        mapHost:[[${mapConfig.host}]],
        mapServerName:[[${mapConfig.mapServerName}]],
        mapServerPort: [[${mapConfig.port}]],
        xmHost:[[${mapConfig.xmhost}]],
        outputDwgUrl:[[${mapConfig.outputDwgUrl}]],
        outputDwgDownloadUrl:[[${mapConfig.outputDwgDownloadUrl}]],
        outputallDwgUrl:[[${mapConfig.outputallDwgUrl}]],
        featureToCadDownloadUrl:[[${mapConfig.featureToCadDownloadUrl}]],
        featureToCadurl:[[${mapConfig.featureToCadurl}]],
        temppolygonUrl:[[${mapConfig.temppolygonUrl}]],
        riverUrl:[[${mapConfig.riverUrl}]],
        riverQzjUrl:[[${mapConfig.riverQzjUrl}]],
        otherUrl:[[${mapConfig.otherUrl}]],
        bgtxUrl:[[${mapConfig.bgtxUrl}]],
        hxSearchUrl:[[${mapConfig.hxSearchUrl}]],
        hxUrl:[[${mapConfig.hxUrl}]],
    }
        var x = [[${x}]];
        var y = [[${y}]];
        getOpenImg(x,y);
</script>


</body>
</html>