<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<base th:href="@{/}">

<div th:replace="static/common/common_header :: common_header"/>
<body>
<script th:inline="javascript"  >
    var gloablConfig = {
        mapHost:[[${mapConfig.host}]],
        mapServerName:[[${mapConfig.mapServerName}]],
        mapServerPort: [[${mapConfig.port}]],
        xmHost:[[${mapConfig.xmhost}]],
        outputDwgUrl:[[${mapConfig.outputDwgUrl}]],
        outputDwgDownloadUrl:[[${mapConfig.outputDwgDownloadUrl}]],
        outputallDwgUrl:[[${mapConfig.outputallDwgUrl}]],
        outputallDwgDownloadUrl:[[${mapConfig.outputallDwgDownloadUrl}]],
    }
    var BASE_URL = "http://"+gloablConfig.xmHost+":"+gloablConfig.mapServerPort+"/";
</script>
<div class="tc" id="tc" style="display: none">
    <div class="mask" id="mask"></div>
    <div id="tcBox"></div>
</div>
<div class="toast" id="toast" ></div>
<div  id="tempdiv" style="display: none"></div>
<link rel="stylesheet" type="text/css" media="all" th:href="${urls.getForLookupPath('/static/css/index.css')}"  />
<script type="text/javascript" src="/static/js/echartsMin.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/thirdlib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<link rel="stylesheet" href="/static/js/thirdlib/toast/css/toast.css">
<script src="/static/js/thirdlib/toast/js/toast.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/static/js/thirdlib/jquery-ui-1.12.1.custom/jquery-ui.css"></link>
<script src="/static/js/thirdlib/shp2geojson/shapefile.js"></script>

<script type="text/javascript" src="/static/js/tools/html2canvas.js" ></script>
<script type="text/javascript" src="/static/js/tools/jquery.jqprint-0.3.js" ></script>
<link rel="stylesheet" href="/static/js/thirdlib/4.11/esri/themes/light/main.css" />
<script src="/static/js/thirdlib/4.11/init.js"></script>
<script th:src="${urls.getForLookupPath('/static/js/map.js')}"></script>

<div id="baobiaoBox" style="display: none;"></div>
<div class="indexTitleBox ">
    <div class="indexTitle W40">
        <div class="indexTitleText">水域动态监管信息化系统</div>
        <div class="indexSubtitleText">Water condition monitoring system</div>
    </div>
    <div class="indexTitleButton W40">
        <a class="indexButton indexButtonSy indexButtonClick" id="sy" th:href="@{index}">首页</a>
        <a class="indexButton indexButtonXmgl"  id="xmgl">项目管理</a>
    </div>
    <div class="indexUser">
        <div>您好,</div>
        <div class="ml20 mr60">管理员</div>
    </div>
</div>

<div class="mapBox">
    <div class="leftBox" id="leftBox">
        <a class="leftButton leftButtonSygl" id="manage" th:href="@{index}">水域管理</a>
        <div class="leftButton leftButtonSybg" id="riverChange">水域变更</div>
    </div>
    <div class="searchBox" id="searchBox">
        <div class="searchInputBox">
            <input placeholder="输入名称或者河道编码" class="searchInput" id ="searchInput">
            <img src="/static/img/qinkong.png" class="qinkong" style="display: none" id="qinkong">
            <div class="fxButoon" id="fxButoon"></div>
            <div class="searchButton" id="searchButton"></div>
        </div>
        <div class="infoList back" id="back" style="display: none;">
            <div class="mr5"><</div>
            <div>返回搜索</div>
        </div>
        <div class="infoList back" id="close" style="display: none;">
            <div class="mr5"><</div>
            <div>关闭</div>
        </div>
        <div class="infoList" id="infoList" style="display: none;"></div>
        <div class="infoList" id="fxList" style="display: none;"></div>
        <div class="infoList" id="infoDetail" style="display: none;"></div>
    </div>

    <div class="topRightBox" id="topRightBox"  style="display: none">
        <div class="topRightButton button1" ></div>
        <div class="topRightButton button2" id="baobiao"> </div>
    </div>
    <div class="bottomRightBox" id="bottomRightBox" style="display: none">
        <div class="tucengSelectBox" id="tucengSelectBox" style="display: none">
            <div class="tucengSelectTitle">
                <img src="/static/img/tuceng.png">
                <div class="ml15">图层选择</div>
            </div>
            <div class="slideBox" id="slideBox" style="display: none">
                <div class="mr5">不透明度</div>
                <div id="slide" class="slide"></div>
                <div id="slideIndex" class="slideIndex ml15"></div>
            </div>
            <div class="tucengItemBox" id="shuiyu">
            </div>
        </div>
        <div class="bottomRightButton button1" id="tuceng"></div>
    </div>
    <div id="viewDiv"> </div>
</div>

<div id="fxTc" class="fxTc" style="display: none">
    <div class="contain fxbuttonbox">请选择构筑分析区域的方式</div>
    <div class="buttonBox fxbuttonbox">
        <div class="button" id="draw">
            <div class="miaohui"></div>
            <div>直接描绘</div>
        </div>
        <div class="button fxbuttonbox"  id="addShp" style="margin-left:50px;">
            <div class="tianjia"></div>
            <div>添加图形文件</div>
        </div>
        <div class="button fxbuttonbox"  id="addText" style="margin-left:50px;">
            <div class="addText"></div>
            <div>添加文本</div>
        </div>
    </div>
    <div class="txtInputBox fxbuttonbox" id="txtInputBox" style="display: none">
        <div id="radioBox" class="radioBox">
            <input type="radio" name="radio-1" id="radio-1" value="CAD List" checked><span>CAD list 文本</span>
            <input type="radio" name="radio-1" id="radio-2" value="X,Y"><span>X,Y 文本</span>
            <input type="radio" name="radio-1" id="radio-3" value="Y,X"><span>Y,X 文本</span>
        </div>
        <textarea id="txtInput" placeholder="请粘贴坐标串信息"></textarea>
        <div class="txtButtonBox">
            <div id="queding">确定</div>
            <div class="ml20"  id="cancel">关闭</div>
        </div>
    </div>
</div>
<input type="file" id="shpFile"  accept=".shp" style="display: none">
<div class="fxTishi" id="fxTishi" style="display: none">
    <div class="titleBox">
        <div>绘制叠加分析</div>
        <img src="/static/img/tuichu2.png" id="fxTishiClose">
    </div>
    <div class="containBox">
        <div class="contain">
            <div>操作步骤:</div>
            <div>1. 在地图上不断单击并移动鼠标左键，绘制一个面状区域;</div>
            <div>2. 双击完成绘制;</div>
            <div>3. 绘制完成会自动测算出与水域重叠的面积.</div>
        </div>

    </div>
</div>
<script th:src="${urls.getForLookupPath('/static/js/tools/common.js')}"></script>
<script th:src="${urls.getForLookupPath('/static/js/index.js')}"></script>
</body>
</html>