<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<base th:href="@{/}">

<div th:replace="static/common/common_header :: common_header"/>
<body>
<script th:inline="javascript">
    var gloablConfig = {
        mapServerPort: [[${mapConfig.port}]],
        xmHost: [[${mapConfig.xmhost}]],
        outputDwgUrl: [[${mapConfig.outputDwgUrl}]],
        outputDwgDownloadUrl: [[${mapConfig.outputDwgDownloadUrl}]],
        outputallDwgUrl: [[${mapConfig.outputallDwgUrl}]],
        featureToCadDownloadUrl: [[${mapConfig.featureToCadDownloadUrl}]],
        featureToCadurl: [[${mapConfig.featureToCadurl}]],
        temppolygonUrl: [[${mapConfig.temppolygonUrl}]],
        riverUrl: [[${mapConfig.riverUrl}]],
        otherUrl: [[${mapConfig.otherUrl}]],
        bgtxUrl: [[${mapConfig.bgtxUrl}]],
        hxSearchUrl: [[${mapConfig.hxSearchUrl}]],
        hxUrl: [[${mapConfig.hxUrl}]],
        geometryServerUrl: [[${mapConfig.geometryServerUrl}]],
        proToken: [[${mapConfig.token}]],
        tdtJjUrl: [[${mapConfig.tdtJjUrl}]],
        tdtJjZjUrl: [[${mapConfig.tdtJjZjUrl}]],
        tdtYxUrl: [[${mapConfig.tdtYxUrl}]],
        tdtYxZjUrl: [[${mapConfig.tdtYxZjUrl}]],
        tdtDxUrl: [[${mapConfig.tdtDxUrl}]],
        tdtNbDzUrl: [[${mapConfig.tdtNbDzUrl}]],
        tdtToken: [[${mapConfig.tdtToken}]],
        ak: [[${mapConfig.ak}]],
        sk: [[${mapConfig.sk}]],
    }
    var BASE_URL = "http://" + gloablConfig.xmHost + ":" + gloablConfig.mapServerPort + "/";
</script>

<div id="loadingMask" style="display:none;">
    <div class="liadloging">
            
        <div class="ldlConten">
                    <img src="/static/img/loading.gif"/>
                    <p>加载中请稍后......</p>
               
        </div>
    </div>
    <div class="floatLayer"></div>
</div>
<div class="tc" id="tc" style="display: none">
    <div class="mask" id="mask"></div>
    <div id="tcBox"></div>
</div>
<div class="toast" id="toast"></div>
<div id="tempdiv" style="display: none"></div>
<link rel="stylesheet" type="text/css" media="all" th:href="${urls.getForLookupPath('/static/css/index.css')}"/>
<script type="text/javascript" src="/static/js/echartsMin.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/thirdlib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<link rel="stylesheet" href="/static/js/thirdlib/toast/css/toast.css">
<link rel="stylesheet" href="/static/css/jquery.toast.min.css">
<script src="/static/js/thirdlib/toast/js/toast.js"></script>

<script src="/static/js/clipboard.min.js"></script>
<script src="/static/js/custom_event.js"></script>
<script src="/static/js/tools/toolbar.js"></script>
<script src="/static/js/tools/jquery.toast.min.js"></script>

<link rel="stylesheet" type="text/css" media="all"
      href="/static/js/thirdlib/jquery-ui-1.12.1.custom/jquery-ui.css"></link>
<script src="/static/js/thirdlib/shp2geojson/shapefile.js"></script>
<script src="/static/js/jsrsasign-all-min.js"></script>
<script type="text/javascript" src="/static/js/tools/html2canvas.js"></script>
<script type="text/javascript" src="/static/js/tools/jquery.jqprint-0.3.js"></script>
<link rel="stylesheet" href="https://gis2.cxzhsl.cn/myarcgis/esri/css/main.css"/>
<script src="https://gis2.cxzhsl.cn/myarcgis/init.js"></script>
<script th:src="${urls.getForLookupPath('/static/js/map.js')}"></script>
<script type="text/javascript">
    window._AMapSecurityConfig = {
        securityJsCode:'e716d77103a69528b38fa4b95e1e7bb7',
    }
</script>
<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=8e260673db08f39852a3659849445d6d&plugin=AMap.Autocomplete"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=8e260673db08f39852a3659849445d6d&plugin=AMap.PlaceSearch"></script>

<div id="baobiaoBox" style="display: none;"></div>
<div class="indexTitleBox ">
    <div class="indexTitle W40">
        <div class="indexTitleText">慈溪市水域一张图</div>
        <div class="indexSubtitleText">A map of CiXi Water area</div>
    </div>
    <div class="indexTitleButton W40">
        <a class="indexButton indexButtonSy indexButtonClick" id="sy" th:href="@{index}">首页</a>
        <a class="indexButton indexButtonXmgl" id="xmgl">项目管理</a>
    </div>
    <div class="indexUser">
        <div>您好,</div>
        <div class="ml20 mr60">[[${trueName}]]</div>
    </div>
</div>

<div class="mapBox">
    <div class="leftBox" id="leftBox">
        <a class="leftButton leftButtonSygl" id="manage" th:href="@{index}">水域管理</a>
        <div class="leftButton leftButtonSybg" id="riverChange">水域变更</div>
    </div>
    <div class="searchBox" id="searchBox">
        <div class="searchInputBox">
            <input placeholder="输入名称或者河道编码" class="searchInput" id="searchInput">
            <img src="/static/img/qinkong.png" class="qinkong" style="display: none" id="qinkong">
            <div class="fxButoon" id="fxButoon"></div>
            <div class="searchButton" id="searchButton"></div>
        </div>
        <div class="infoList back" id="back" style="display: none;">
            <div class="mr5"><</div>
            <div>返回搜索</div>
        </div>
        <div class="infoList back" id="close" style="display: none;">
            <div class="mr5"><</div>
            <div>关闭</div>
        </div>
        <div class="infoList" id="infoList" style="display: none;"></div>
        <div class="infoList" id="fxList" style="display: none;"></div>
        <div class="infoList" id="infoDetail" style="display: none;"></div>
    </div>

    <div class="topRightBox" id="topRightBox" style="display: none">
        <div class="tucengSelectBox" id="tucengSelectBox" style="display: none">
            <div class="tucengSelectTitle">
                <img src="/static/img/tuceng2.png">
                <div class="ml15">图层选择</div>
            </div>
            <div class="slideBox" id="slideBox" style="display: none">
                <div class="mr5">不透明度</div>
                <div id="slide" class="slide"></div>
                <div id="slideIndex" class="slideIndex ml15"></div>
            </div>
            <div class="tucengItemBox" id="shuiyu">
            </div>
        </div>
        <div>
<!--            <div class="topRightButton button1" id="xcList"></div>-->
            <div class="topRightButton button2" id="baobiao"></div>
            <div class="topRightButton button3" id="tuceng"></div>
            <div class="topRightButton tools" id="tools"></div>
            <div class="indexToolsBox" style="display: none">
                <div class="cj" id="distanceButton" title="测量距离"></div>
                <div class="cm" id="areaButton" title="测量面积"></div>
                <div class="hm" name="drawPolygon" title="画面"></div>
                <div class="hd" name="drawPoint" title="画点"></div>
                <div class="hqd" name="getGraphicPoint" title="获取点坐标"></div>
                <div class="hqm" name="getGraphicPolygon" title="获取面坐标"></div>
                <div class="ql" name="clearGraphic" title="清除图上绘画痕迹"></div>
            </div>
        </div>
    </div>
    <div class="bottomRightBox" id="bottomRightBox" style="display: none">

    </div>
    <div id="viewDiv"></div>
</div>

<div id="fxTc" class="fxTc" style="display: none">
    <div class="contain fxbuttonbox">请选择构筑分析区域的方式</div>
    <div class="buttonBox fxbuttonbox">
        <div class="button" id="draw">
            <div class="miaohui"></div>
            <div>直接描绘</div>
        </div>
        <div class="button fxbuttonbox" id="addShp" style="margin-left:50px;">
            <div class="tianjia"></div>
            <div>添加图形文件</div>
        </div>
        <div class="button fxbuttonbox" id="addText" style="margin-left:50px;">
            <div class="addText"></div>
            <div>添加文本</div>
        </div>
    </div>
    <div class="txtInputBox fxbuttonbox" id="txtInputBox" style="display: none">
        <div id="radioBox" class="radioBox">
            <input type="radio" name="radio-1" id="radio-1" value="CAD List" checked><span>CAD list 文本</span>
            <input type="radio" name="radio-1" id="radio-2" value="X,Y"><span>X,Y 文本</span>
            <input type="radio" name="radio-1" id="radio-3" value="Y,X"><span>Y,X 文本</span>
        </div>
        <textarea id="txtInput" placeholder="请粘贴坐标串信息"></textarea>
        <div class="txtButtonBox">
            <div id="queding">确定</div>
            <div class="ml20" id="cancel">关闭</div>
        </div>
    </div>
</div>

<div class="jwdBox" id="jwd">x:121,y:121</div>
<input type="file" id="shpFile" accept=".shp" style="display: none">
<div class="fxTishi" id="fxTishi" style="display: none">
    <div class="titleBox">
        <div>绘制叠加分析</div>
        <img src="/static/img/tuichu2.png" id="fxTishiClose">
    </div>
    <div class="containBox">
        <div class="contain">
            <div>操作步骤:</div>
            <div>1. 在地图上不断单击并移动鼠标左键，绘制一个面状区域;</div>
            <div>2. 双击完成绘制;</div>
            <div>3. 绘制完成会自动测算出与水域重叠的面积.</div>
        </div>

    </div>
</div>
<div id="showDlg"></div>
<script th:src="${urls.getForLookupPath('/static/js/tools/common.js')}"></script>
<script th:src="${urls.getForLookupPath('/static/js/index.js')}"></script>
</body>
</html>