<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>服务器错误。</title>
</head>
<body>
<form class="form-horizontal"   th:action="@{toadd}"  method="post">
<tr th:each="item,itemStat : ${bbb}">
    <td th:text="${item.authorityId}">代码</td>
    <td th:text="${item.authorityName}">代码</td>
    <td><a th:href="@{/user1/toedit(id=${item.authorityId})}">edit</a></td>
</tr>
    <td><a th:href="@{/user1/toadd}">add</a></td>
<input th:attr="type='button',value='添加'">
</form>
</body>
</html>