body{
    margin: 0px;
}
html,body{
   width: 100%;
   height: 100%;
   background-color:#294374;
}

::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: hsla(143, 63%, 7%, 0.27);
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
}

.btw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.czjz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxh{
    display: flex;
}
.ydq{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.indexTitle {
    font-size:24px;
    width:380px;
    height:100%;
    margin-left:20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color:white;
}
.indexTitleBox{
    width:100%;
    height:10%;
    background-color:#294374;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.W80{
    width:80%;
}
.W40{
    width:40%;
}
.indexButton{
    width:160px;
    height:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size:16px;
    background-color: #213043;
    color:white;
}
.indexButtonSy{
    background-image: url(/static/img/shouye.png);
    background-repeat: no-repeat;
    background-position: 41px 13px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;

}
.indexButtonXmgl{
    background-image: url(/static/img/xmgl.png);
    background-repeat: no-repeat;
    background-position: 25px 13px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}
.indexButtonClick{
    background-color:#57ca7d;
}
.indexUser{
    font-size:16px;
    margin-right:20px;
    height: 100%;
    display: flex;
    color:white;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width:20%;
    background-image: url(/static/img/login.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;

}
.mr20{
    margin-left:20px;
}
.ml20{
    margin-left:20px;
}
.mr60{
    margin-right:60px;
}
.ml5 {
    margin-left: 5px;
}
.ml15{
    margin-left:15px;
}
.mb20{
    margin-bottom:20px;
}
.mt10{
    margin-top:10px;
}
.mb10{
    margin-bottom:10px;
}
.ml60{
    margin-left: 60px;
}
.mt15{
    margin-top:15px;
}
.mt10{
    margin-top:10px;
}
.mapBox{
    height: 90%;
    width: 100%;
    display: flex;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

}
.indexTitleButton{
    display: flex;
}
.leftBox {
    position: fixed;
    height:100%;
    background:url("/static/img/bj.png");
    background-repeat: repeat;
    top: 10%;
    left: 0;
    width: 60px;
    z-index:999;
    overflow: hidden;
    border-top: 1px solid #94a1ba;
}
.leftButton{
    width:300px;
    height:60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top:1px solid #3f5682;
    border-bottom:1px solid #3f5682;
    color:white;
    font-size: 16px;
    letter-spacing: 2px;

}
.leftButtonSygl{
    background-image: url(/static/img/sygl.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
}
.leftButtonSybg{
    background-image: url(/static/img/sybg.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
}
.leftButtonTjbb{
    background-image: url(/static/img/tjbb.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
}
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1001;
}
a{
    text-decoration:none;
    color:#333;
}
.indexSubtitleText{
    font-size: 12px;
}
.indexTitleText{
    font-size: 24px;
    letter-spacing:4px;
    font-weight: bold;
}
.searchBox{
    position: fixed;
    background-color: white;
    top: 13%;
    left: 100px;
    width: 400px;
    z-index:998;
    overflow: hidden;
    border: 1px solid white;
    display:flex;
    flex-direction: column;
}
.searchInputBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height:50px;
}
.screenButoon{
    background-image: url(/static/img/screen.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:60px;
    height:30px;
    border-left:1px solid #294374;
    border-right:1px solid #294374;
    cursor: pointer;
}
.searchButton{
    background-image: url(/static/img/search.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:60px;
    height:30px;
    cursor: pointer;

}
.infoDivBox{
    position: fixed;
    height:40%;
    background-color: white;
    top: 58%;
    left: 100px;
    width: 400px;
    z-index:998;
    overflow: hidden;
    display:flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.searchInput{
    width:280px;
    height:40px;
    border:none;
    font-size:16px;
    padding-left:15px;
    letter-spacing: 2px;
}
.infoListBox{
    width:100%;
    height:325px;
    overflow: auto;
    border-top:1px solid #384a34;
}
.infoItem{
    height:45px;
    border-bottom:1px solid #e9ecf1;
    font-size:14px;
    color:#656c76;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.infoItem:hover{
    opacity: 0.5;
}
.infoItemLeft{
    margin-left:10px;
    display: flex;
}
.infoItemRight{
    margin-right:10px;
}

.topRightBox{
    width:60px;
    height:120px;
}
.topRightButton{
    margin-left:5px;
    margin-top:10px;
    width:45px;
    height:45px;
    background-color: #345aa2;
    border:1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}
.bottomRightButton{
    margin-left:5px;
    margin-top:10px;
    width:45px;
    height:45px;
    background-color: #345aa2;
    border:1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}
.topRightBox .button1{
     background-image: url(/static/img/button1.png);
     background-repeat: no-repeat;
     background-position: 50% 50%;
 }
.topRightBox .button2{
    background-image: url(/static/img/button2.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.bottomRightBox .button1{
    background-image: url(/static/img/tuceng.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.bottomRightBox{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
.tucengSelectBox{
    width:350px;

}
.tucengSelectTitle{
    height:45px;
    width:100%;
    background-image: url(/static/img/bj2.png);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;



}
.tucengItemBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    background-color: white;
    height:55px;
    border-bottom:1px solid #cccccc;
}
.tucengItemBox .checkBox{
    width:10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.tucengSelectTitle img{
    width: 30px;
    height: 30px;
}
.tucengItemBox img{
    width:20px;
    height: 20px;
}
.tucengItemBox .nameBox{
    width:90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size:16px;
}

/* 去掉地图聚焦边框 */
.esri-view-surface--inset-outline:focus::after {
    outline: none !important;
}