<link rel="stylesheet" type="text/css" media="all" th:href="${urls.getForLookupPath('/static/css/river/baobiao.css')}"
      xmlns:th="http://www.w3.org/1999/xhtml" />

<div class="mask"></div>
<div class="baobiaoBox">
    <div class="baobiao">
        <div class="title">
            水域统计
        </div>
        <div class="content">
            <div class="shaixuan">
                <div class="Box">
                    <div class="name">
                        类型:
                    </div>
                    <select name="type" class="select">
                        <option value="1">河道</option>
                        <option value="2">其他水域</option>
                        <option value="3">山塘</option>
                        <option value="4">湖泊</option>
                    </select>
                </div>
                <div class="Box">
                    <div class="name">
                        年份:
                    </div>
                    <select name="nianfen" class="select">
                        <option value="1">2021</option>
                        <option value="2">2020</option>
                        <option value="3">2019</option>
                        <option value="4">2018</option>
                    </select>
                </div>
                <div class="Box">
                    <div class="name">
                        类型:
                    </div>
                    <select name="tongji" class="select">
                        <option value="1">面积</option>
                        <option value="2">容积</option>
                        <option value="3">长度</option>
                        <option value="4">全部</option>
                    </select>
                </div>
            </div>
            <div class="typeList">
                <div class="typeItem" th:each="item,stat:${typeList}" th:data-name="${item.type}" th:classappend="${item.type} == ${type}? 'typeItemClick':''"
                     xmlns:th="http://www.w3.org/1999/xhtml"  >
                    <div class="typenameBox">
                        <div class="typename">[[${item.type}]]</div>
                        <div class="ml20" th:if="${item.type == '河道' || item.type == '其他水域' || item.type == '人工水道'}">([[${item.number}]]条)</div>
                        <div class="ml20" th:if="${item.type == '水库' || item.type == '山塘' || item.type == '湖泊'}">([[${item.number}]]座)</div>
                    </div>
                    <div class="content">
                        <div th:if="${item.length} > 0 "  >
                           总长度:[[${item.length}]]
                        </div>
                        <div >
                            总面积:[[${item.area}]]
                        </div>
                        <div >
                            总容积:[[${item.vol}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="tubiaoListBox">
                <div class="tubiaoItem"   th:each="item,stat:${data}" th:classappend="${stat.index >0 ?'ml15':''}" xmlns:th="http://www.w3.org/1999/xhtml">
                    <div class="tubiaoTitle">
                        <div class="yuan"></div>
                        <div>[[${item.name}]]</div>
                    </div>
                    <div name="tubiao" class="tubiao"></div>
                    <div  class="tubiaoDeatilsBox"  xmlns:th="http://www.w3.org/1999/xhtml">
                        <div class="tubiaoDeatilsItem" th:each="item2,stat2:${item.data}" xmlns:th="http://www.w3.org/1999/xhtml">
                            <div>[[${item2.name}]] ([[${item2.number}]][[${item2.numberDw}]]）</div>
                            <div>总[[${item2.type}]]:[[${item2.value}]][[${item2.dw}]]</div>
                            <div class="zb">占比:[[${item2.zb}]]%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script th:inline="javascript" xmlns:th="http://www.w3.org/1999/xhtml" >
    var data = [[${data}]];
</script>


<script th:src="${urls.getForLookupPath('/static/js/river/baobiao.js')}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
